# To learn more about these settings check out
# ./docs/ENV.md

# MAIN CONFIGS
FEATURE_CONFIG_FILE=features.json
LABEL_CONFIG_FILE=signals.json

# ALPACA API
ALPACA_KEY=
ALPACA_KEY=

# adjust base URL ONLY (only if you want to use real money, defaults to paper)
ALPACA_ACCOUNT_LINK=https://paper-api.alpaca.markets/v2/account
ALPACA_POSITIONS_LINK=https://paper-api.alpaca.markets/v2/positions
ALPACA_ORDERS_LINK=https://paper-api.alpaca.markets/v2/orders
ALPACA_CLOCK_LINK=https://paper-api.alpaca.markets/v2/clock
ALPACA_MARKET_DATA_LINK=https://data.alpaca.markets/v2/stocks/bars/latest?symbols=

# RUNTIME ENGINE
REFRESH_RATE_TIME=60 
LIVE_TRADE_TICKER=AAPL 
BURN_IN_WINDOW_TIME=31 
ENGINE_LOG_API_FLUSH_TIME=2000 # milliseconds # UNUSED
LOG_API_LINK=http://localhost:3000/api/log # logging events
DATA_API_LINK=http://localhost:3000/api/data # technical data at each loop
ENV_API_LINK=http://localhost:3000/api/env # once just the setting values
BROKER_API_LINK=http://localhost:3000/api/broker # broker account updates

# Dev Tools for Runtime Engine
LOG_TO_STDIO=FALSE
ALWAYS_RUN=FALSE
OVERRIDE_BURN_IN=FALSE

# ML API    
ML_API_LINK=http://127.0.0.1:5000

# ML PIPELINE
TRAIN_TICKER=AAPL # move to JSON configs (for multiple)
TRAIN_MODEL_TYPE=RandomForestClassifier # UNUSED
TRAIN_TIMEFRAME=1m # UNUSED
DUMP_MODEL_NAME=model.pkl # UNUSED
RUNTIME_MODEL_NAME=model.pkl # UNUSED

