FEATURE_CONFIG_FILE=features.json
LABEL_CONFIG_FILE=signals.json

MAIN_CONFIG_FILE=

ALPACA_API=
ALPACA_SECRET=
ALPACA_ACCOUNT_LINK=https://paper-api.alpaca.markets/v2/account
ALPACA_POSITIONS_LINK=https://paper-api.alpaca.markets/v2/positions
ALPACA_ORDERS_LINK=https://paper-api.alpaca.markets/v2/orders
ALPACA_CLOCK_LINK=https://paper-api.alpaca.markets/v2/clock
ALPACA_MARKET_DATA_LINK=https://data.alpaca.markets/v2/stocks/bars/latest?symbols=

REFRESH_RATE_TIME=60
LIVE_TRADE_TICKER=AAPL 
BURN_IN_WINDOW_TIME=31
ENGINE_LOG_API_FLUSH_TIME=2000
LOG_API_LINK=http://localhost:3000/api/log
DATA_API_LINK=http://localhost:3000/api/data
ENV_API_LINK=http://localhost:3000/api/env
BROKER_API_LINK=http://localhost:3000/api/broker

LOG_TO_STDIO=FALSE
ALWAYS_RUN=FALSE
OVERRIDE_BURN_IN=FALSE

ML_API_LINK=http://127.0.0.1:5000/api/prediction

