ALPACA_API=#put your own Alpaca API key 
ALPACA_SECRET=#and Alpaca secret key here
ALPACA_ACCOUNT_LINK=https://paper-api.alpaca.markets/v2/account
ALPACA_POSITIONS_LINK=https://paper-api.alpaca.markets/v2/positions
ALPACA_ORDERS_LINK=https://paper-api.alpaca.markets/v2/orders
ALPACA_CLOCK_LINK=https://paper-api.alpaca.markets/v2/clock
ALPACA_MARKET_DATA_LINK=https://data.alpaca.markets/v2/stocks/bars/latest?symbols=

LOG_API_LINK=http://localhost:3000/api/log
DATA_API_LINK=http://localhost:3000/api/data
ENV_API_LINK=http://localhost:3000/apienv
BROKER_API_LINK=http://localhost:3000/api/broker

ML_API_LINK=http://127.0.0.1:5000/api/prediction

