# Node.js dependencies
node_modules/
.next/

# Environment variables
venv/
.env

# Python Cache
*.pyc
__pycache__/

# notebooks
.pynb_checkpoints/
.ipynb_checkpoints/

# testing data sets
*.csv

# C libraries
*.o
*.so
*.a

# ML models
*.pkl

# VS Code
.vscode
