# Environment variables
venv/
.env

# Python Cache
*.pyc
__pycache__/

# notebooks
.pynb_checkpoints/
.ipynb_checkpoints/

# testing data sets
*.csv

# C libraries
*.o
*.so
*.a
*.out

# ML models
*.pkl
./src/ml/models/decider/*
models/*.pkl
models/*.txt
models/*.json

# VS Code
.vscode



# mkdocs
./site/