#===========================API KEYS

ALPACA_API_KEY=
ALPACA_SECRET_KEY=


#==========================TRADING BOT SETTINGS

# Interval in seconds to run the main event loop
REFRESH_RATE=60

# Ticker to target trades on 
TICKER=AAPL 

# Time in minutes to burn in data to intialize technical values
BURN_WINDOW=31 # (+1 if using delta, diff objects)

# ADD API OFFLOADING TIME OPTION
API_BUFFER_TIME=250 # milliseconds

#=========================API ROUTING

# FRONT END JSON DESTINATIONS
LOG_LINK=http://localhost:3000/api/log # logging events
DATA_LINK=http://localhost:3000/api/data # technical data at each loop
ENV_LINK=http://localhost:3000/api/env # once just the setting values
BROKER_LINK=http://localhost:3000/api/broker # broker account updates

# ML MODEL API
ML_LINK=http://127.0.0.1:5000


